
{% extends 'base.html' %}

{% block title %} Register Phone Number {% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center my-5">Add Contact Info</h1>
    
    <form action="" method="post" class="border border-success p-5 w-75 d-flex justify-content-between align-items-center col-8 offset-1">
        {{ form.csrf_token }}
            <div class="form-group col-4 offset-2">
                <fieldset>
                    {{ form.name.label }}
                    {{ form.name(class='form-control', placeholder='Name') }}
                </fieldset>
            
                <fieldset>
                    {{ form.phonenumber.label }}
                    {{ form.phonenumber(class='form-control', placeholder='Phone Number') }}
                </fieldset>
                <fieldset>
                    {{ form.address.label }}
                    {{ form.address(class='form-control', placeholder='Address') }}
                </fieldset>
                {{ form.submit(class='mt-5') }} 
            </div>   
    </form>
    
{% endblock %}